.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App__header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App__body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.full-name__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.parts-name__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
